<% title @page.url %>

<h1>Dontfile</h1>

<div id="container" data-path="<%= @page.url %>">
  <div id="text-area">
    <h2>Text</h2>
    <textarea id="text"><%= @page.content %></textarea>
  </div>

  <h2>File</h2>
  <div id="file-area">
    <div>
      <h4>(Max size: 20mb)</h4>
      <input type="file" id="file" onchange="saveFile()"></input>
    </div>

    <div id="attachment">
      <% if @page.file.attached? %>
        <%= icon('far', 'file-alt') %>
        <p><%= @page.file_blob.filename %></p>

        <div id="buttons">
          <a class="button" title='Download File' href="<%= rails_blob_url(@page.file) %>" download>
            <%= icon('far', 'arrow-alt-circle-down') %>
          </a>

          <%= button_to delete_file_path, method: :delete, params: { url: @page.url }, title: 'Delete File', data: { confirm: "Are you sure?" } do %>
            <%= icon('far', 'trash-alt') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <progress id="file-upload-progress" value="0"></progress>
</div>
